In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
# Extract CSV into Dataframe
file1 = "Data/JC-201701-citibike-tripdata.csv"
file2 = "Data/JC-201702-citibike-tripdata.csv"
file3 = "Data/JC-201703-citibike-tripdata.csv"
file4 = "Data/JC-201704-citibike-tripdata.csv"
file5 = "Data/JC-201705-citibike-tripdata.csv"
file6 = "Data/JC-201706-citibike-tripdata.csv"
file7 = "Data/JC-201707-citibike-tripdata.csv"
file8 = "Data/JC-201708 citibike-tripdata.csv"
file9 = "Data/JC-201709-citibike-tripdata.csv"
file10 = "Data/JC-201710-citibike-tripdata.csv"
file11 = "Data/JC-201711-citibike-tripdata.csv"
file12 = "Data/JC-201712-citibike-tripdata.csv"


#Read CSV
january_trip_data = pd.read_csv(file1, encoding="UTF-8")
february_trip_data = pd.read_csv(file2, encoding="UTF-8")
march_trip_data = pd.read_csv(file3, encoding="UTF-8")
april_trip_data = pd.read_csv(file4, encoding="UTF-8")
may_trip_data = pd.read_csv(file5, encoding="UTF-8")
june_trip_data = pd.read_csv(file6, encoding="UTF-8")
july_trip_data = pd.read_csv(file7, encoding="UTF-8")
august_trip_data = pd.read_csv(file8, encoding="UTF-8")
september_trip_data = pd.read_csv(file9, encoding="UTF-8")
october_trip_data = pd.read_csv(file10, encoding="UTF-8")
november_trip_data = pd.read_csv(file11, encoding="UTF-8")
december_trip_data = pd.read_csv(file12, encoding="UTF-8")

In [3]:
# Merge tables
df = [january_trip_data, february_trip_data, march_trip_data, april_trip_data,
           may_trip_data, june_trip_data, july_trip_data, august_trip_data,
           september_trip_data, october_trip_data, november_trip_data, december_trip_data]

In [4]:
result = pd.concat(df)

In [5]:
result.to_csv("Data/Trip_History_2017.csv")

In [8]:
# Extract CSV into Dataframe
file13 = "Data/Trip_History_2017.csv"

# Read CSV
trip_history = pd.read_csv(file13, encoding="UTF-8")

In [9]:
trip_history

,Unnamed: 0,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717732,-74.043845,24575,Subscriber,1983.0,1
1,1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,2,372,1/1/2017 0:38,1/1/2017 0:44,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,3,1513,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,4,639,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294923,15893,972,12/31/2017 21:54,12/31/2017 22:10,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
294924,15894,382,12/31/2017 22:10,12/31/2017 22:16,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
294925,15895,93,12/31/2017 22:55,12/31/2017 22:56,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717732,-74.043845,31920,Subscriber,1957.0,1
294926,15896,186,12/31/2017 23:20,12/31/2017 23:24,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
294927,15897,422,12/31/2017 23:33,12/31/2017 23:40,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [10]:
trip_history.count()

Unnamed: 0                 294928
Trip Duration              294928
Start Time                 294928
Stop Time                  294928
Start Station ID           294928
Start Station Name         294928
Start Station Latitude     294928
Start Station Longitude    294928
End Station ID             294928
End Station Name           294928
End Station Latitude       294928
End Station Longitude      294928
Bike ID                    294928
User Type                  294811
Birth Year                 275313
Gender                     294928
dtype: int64